<footer>
	<div style="display:inline-block">
		<div style="float:left; padding-right: 10px;">
			<a id="my-picture" target="_blank" href="http://www.linkedin.com/in/minh-tâm-tran">
				<img alt="Author Avatar" src="{{ "assets/img/linkedin_photo.jpg" | relative_url }}">
			</a>
			<div id="my-contact">
				<a target="_blank" href="http://www.linkedin.com/in/minh-tâm-tran">LinkedIn</a>
			</div>
		</div>
		<div id="my-description">
			<p><b>Hi!</b> I'm a <b>software engineer</b>.</p>
			<p>I am fond of the <b>Software Craftsmanship</b> movement.</p>
			<p>I used VisualStudio until 2020, then switched to <b>vim</b>.</p>
			<br/>
			<p>&nbsp;&nbsp;Hehe.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i>Waaaait.....</i> &nbsp;&nbsp;&nbsp;&nbsp;How do we get out already?</p>
		</div>
	</div>
</footer>
