<footer>
	<div style="display:inline-block">
		<div style="float:left; padding-right: 10px;">
			<div id="my-picture">
				<img alt="Author Avatar" src="https://media.licdn.com/dms/image/C4E03AQEneBZMRPHeNA/profile-displayphoto-shrink_100_100/0/1516977892903?e=1687392000&v=beta&t=0cXOpTYQXgr0Aw_iq1Zp-8YB6rO7sPfR3hjw0NsM7t4">
			</div>
			<div id="my-contact">
				<a target="_blank" href="http://www.linkedin.com/in/minh-tâm-tran">LinkedIn</a>
			</div>
		</div>
		<div id="my-description">
			<p><b>Hi!</b> I'm a <b>software engineer</b>.</p>
			<p>I am fond of the <b>Software Craftsmanship</b> movement.</p>
			<p>I moved from VisualStudio 19 to <b>vim</b>.</p>
			<p>I also like GuildWars one. And burgers. And you.</p>
			<p><b>How are you doing ? :-)</b></p>
		</div>
	</div>
</footer>
